@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-product-white text-product-black font-roboto;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gap-x-reduced > :not(template) ~ :not(template) {
  --tw-translate-x: calc(-0rem);
  margin-left: var(--tw-translate-x);
  margin-right: var(--tw-translate-x);
}

::-webkit-scrollbar {
  width: 10px;
  background: #000;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: rgb(37, 37, 37);
}

::-webkit-scrollbar-thumb {
  background: rgb(105, 105, 105);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:active {
  background: #B9FA02;
}