@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-product-white text-product-black font-roboto;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
